<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>simple VueJS</title>
</head>

<body>

	<div id="app">
		<h1 v-show='view' v-html='msg'>one</h1>
		<h1 v-if='false' v-html='msg'>two</h1>

		<input type="text" v-model='message'>
		<p>{{message}}</p>

		<input type="checkbox" v-model='checked'>
		<label for="checked">{{ checked }}</label>

		<h1 v-pre>{{Lorem	ipsum dolor sit amet consectetur
			 adipisicing elit. Possimus ex dolorem eligendi
				repudiandae eaque doloremque nostrum, ipsam eos 
				repellat! Dolor possimus voluptatem quidem cumque
				 ea alias accusantium quo facere ex.}}</h1>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src='script.js'></script>
</body>

</html>